<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>function openCudds(){
        window.location.href = "http://localhost:8000/cuddles"
    }
    function openSarah(){
        window.location.href = "http://localhost:8000/sarah"
    }
    </script>
</head>

<body>
    <img src="http://placekitten.com/200/300" alt="cudds" id="cudds" onclick="openCudds()">
    <img src="https://placekitten.com/408/287" alt="sarah" id="sarah" onclick="openSarah()">
</body>

</html>